
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>表单</title>
    <!-- layui.css -->
    <link href="~/Scripts/plug/layui/css/layui.css" rel="stylesheet" />
    @RenderSection("Head", false)
</head>
<body>
    @RenderBody()
    <!-- layui.js -->
    <script src="~/Scripts/plug/layui/layui.js"></script>  
    @RenderSection("Scripts", false)
</body>
</html>
