@model Sky.Models.TimeLine
@{
    ViewBag.Title = "添加/修改时光轴";
}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>时光轴</legend>
</fieldset>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">显示时间</label>
        <div class="layui-input-block">
            <input type="text" name="Time" id="Time" value="@(Model.Time>DateTime.Now? Model.Time.ToString("yyyy-MM-dd HH:mm:ss"): DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))" />   
        </div>
    </div>   
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="hidden" name="Id" value="@Model.Id"/>
            <textarea type="text" style="width: 90%;"name="Desc" lay-verify="Desc" autocomplete="off" value="@Model.Desc" placeholder="请输入描述..." class="layui-input">@Model.Desc</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="saves">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

@section scripts{
    <script>
        layui.use(['form', 'layer', 'laydate'], function () {
            var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            , laydate = layui.laydate;
        

            //执行一个laydate实例
            laydate.render({
                elem: '#Time',//指定元素
                type: 'datetime'
            });
            form.on('submit(saves)', function (data) {
                $.post('/Admin/TimeLineManager/Save', data.field, function (result) {
                    if (result.Result) {                        
                        layer.msg(result.Message, { icon: 6 });
                        parent.tables.reload();
                        //假设这是iframe页
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭                                             
                    } else {
                        layer.msg(result.Message, { icon: 5 });
                    }           
                });
                return false;
            });                    
        });
    </script>
}


